<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722164945707-a19o2ki3fmrp44k5k34k52ibf1gdvrn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722164945707-a19o2ki3fmrp44k5k34k52ibf1gdvrn7</string>
	<key>API_KEY</key>
	<string>AIzaSyADtHlz7AhMQf4cJ-CbaMQIdp4xSr1k-BU</string>
	<key>GCM_SENDER_ID</key>
	<string>722164945707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>dispatcher-dev-a0c54</string>
	<key>STORAGE_BUCKET</key>
	<string>dispatcher-dev-a0c54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722164945707:ios:129da2c4d1c4a1387deb6e</string>
</dict>
</plist>